<a href="https://colab.research.google.com/github/mohannashahrad/Borealis_AI_Plant_Tree_Project/blob/main/preprocessing_scripts/First_5_DataPreprocessing.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [22]:
# Imort all the required libraries
import pandas as pd
import requests
try:
    from StringIO import StringIO
except ImportError:
    from io import StringIO

In [23]:
# Define all the functions

def load_DF(url):
  data = StringIO(requests.get(url).text)
  return pd.read_csv(data, skiprows=[0,1,2,3])

In [24]:
# Loading Datasets

# Fake_News_Train

# Load Agricultural Land Dataset
agricultural_land_df = load_DF('https://raw.githubusercontent.com/mohannashahrad/Borealis_AI_Plant_Tree_Project/main/Data/Agricultural_Land%20/API_AG.LND.AGRI.ZS_DS2_en_csv_v2_3052884.csv')
display(agricultural_land_df)

# Load CO2 Emission Dataset
CO2_emission_df = load_DF('https://raw.githubusercontent.com/mohannashahrad/Borealis_AI_Plant_Tree_Project/main/Data/CO2%20emissions%20(kt)/API_EN.ATM.CO2E.KT_DS2_en_csv_v2_3052647.csv')
display(CO2_emission_df)

# Load Coal Rents Dataset
coal_rents_df = load_DF('https://raw.githubusercontent.com/mohannashahrad/Borealis_AI_Plant_Tree_Project/main/Data/Coal%20rents%20(%25%20of%20GDP)/API_NY.GDP.COAL.RT.ZS_DS2_en_csv_v2_3057787.csv')
display(coal_rents_df)

# Load Forest Rents Dataset
forest_rents_df = load_DF('https://raw.githubusercontent.com/mohannashahrad/Borealis_AI_Plant_Tree_Project/main/Data/Forest%20rents%20(%25%20of%20GDP)/API_NY.GDP.FRST.RT.ZS_DS2_en_csv_v2_3057795.csv')
display(forest_rents_df)

#Load GDP Growth Dataset
gdp_growth_df = load_DF('https://raw.githubusercontent.com/mohannashahrad/Borealis_AI_Plant_Tree_Project/main/Data/GDP%20growth%20(annual%20%25)/API_NY.GDP.MKTP.KD.ZG_DS2_en_csv_v2_3052565.csv')
display(gdp_growth_df)

                    Country Name Country Code  ... 2020 Unnamed: 65
0                          Aruba          ABW  ...  NaN         NaN
1    Africa Eastern and Southern          AFE  ...  NaN         NaN
2                    Afghanistan          AFG  ...  NaN         NaN
3     Africa Western and Central          AFW  ...  NaN         NaN
4                         Angola          AGO  ...  NaN         NaN
..                           ...          ...  ...  ...         ...
261                       Kosovo          XKX  ...  NaN         NaN
262                  Yemen, Rep.          YEM  ...  NaN         NaN
263                 South Africa          ZAF  ...  NaN         NaN
264                       Zambia          ZMB  ...  NaN         NaN
265                     Zimbabwe          ZWE  ...  NaN         NaN

[266 rows x 66 columns]

                    Country Name Country Code  ... 2020 Unnamed: 65
0                          Aruba          ABW  ...  NaN         NaN
1    Africa Eastern and Southern          AFE  ...  NaN         NaN
2                    Afghanistan          AFG  ...  NaN         NaN
3     Africa Western and Central          AFW  ...  NaN         NaN
4                         Angola          AGO  ...  NaN         NaN
..                           ...          ...  ...  ...         ...
261                       Kosovo          XKX  ...  NaN         NaN
262                  Yemen, Rep.          YEM  ...  NaN         NaN
263                 South Africa          ZAF  ...  NaN         NaN
264                       Zambia          ZMB  ...  NaN         NaN
265                     Zimbabwe          ZWE  ...  NaN         NaN

[266 rows x 66 columns]

                    Country Name Country Code  ... 2020 Unnamed: 65
0                          Aruba          ABW  ...  NaN         NaN
1    Africa Eastern and Southern          AFE  ...  NaN         NaN
2                    Afghanistan          AFG  ...  NaN         NaN
3     Africa Western and Central          AFW  ...  NaN         NaN
4                         Angola          AGO  ...  NaN         NaN
..                           ...          ...  ...  ...         ...
261                       Kosovo          XKX  ...  NaN         NaN
262                  Yemen, Rep.          YEM  ...  NaN         NaN
263                 South Africa          ZAF  ...  NaN         NaN
264                       Zambia          ZMB  ...  NaN         NaN
265                     Zimbabwe          ZWE  ...  NaN         NaN

[266 rows x 66 columns]

                    Country Name Country Code  ... 2020 Unnamed: 65
0                          Aruba          ABW  ...  NaN         NaN
1    Africa Eastern and Southern          AFE  ...  NaN         NaN
2                    Afghanistan          AFG  ...  NaN         NaN
3     Africa Western and Central          AFW  ...  NaN         NaN
4                         Angola          AGO  ...  NaN         NaN
..                           ...          ...  ...  ...         ...
261                       Kosovo          XKX  ...  NaN         NaN
262                  Yemen, Rep.          YEM  ...  NaN         NaN
263                 South Africa          ZAF  ...  NaN         NaN
264                       Zambia          ZMB  ...  NaN         NaN
265                     Zimbabwe          ZWE  ...  NaN         NaN

[266 rows x 66 columns]

                    Country Name Country Code  ...      2020 Unnamed: 65
0                          Aruba          ABW  ...       NaN         NaN
1    Africa Eastern and Southern          AFE  ... -3.575173         NaN
2                    Afghanistan          AFG  ... -1.934778         NaN
3     Africa Western and Central          AFW  ... -0.978922         NaN
4                         Angola          AGO  ... -4.040510         NaN
..                           ...          ...  ...       ...         ...
261                       Kosovo          XKX  ... -6.888013         NaN
262                  Yemen, Rep.          YEM  ...       NaN         NaN
263                 South Africa          ZAF  ... -6.959604         NaN
264                       Zambia          ZMB  ... -3.016189         NaN
265                     Zimbabwe          ZWE  ... -8.000000         NaN

[266 rows x 66 columns]

In [33]:
frames = [agricultural_land_df, coal_rents_df, forest_rents_df, gdp_growth_df, CO2_emission_df]
df = pd.concat(frames)
print(df.columns)

Index(['Country Name', 'Country Code', 'Indicator Name', 'Indicator Code',
       '1960', '1961', '1962', '1963', '1964', '1965', '1966', '1967', '1968',
       '1969', '1970', '1971', '1972', '1973', '1974', '1975', '1976', '1977',
       '1978', '1979', '1980', '1981', '1982', '1983', '1984', '1985', '1986',
       '1987', '1988', '1989', '1990', '1991', '1992', '1993', '1994', '1995',
       '1996', '1997', '1998', '1999', '2000', '2001', '2002', '2003', '2004',
       '2005', '2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013',
       '2014', '2015', '2016', '2017', '2018', '2019', '2020', 'Unnamed: 65'],
      dtype='object')

In [ ]:
# Data Cleaning