<a href="https://colab.research.google.com/github/mohannashahrad/Borealis_AI_Plant_Tree_Project/blob/main/preprocessing_scripts/GDP_DataProcessing.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [48]:
# Import all the required libraries
import pandas as pd
import requests
try:
    from StringIO import StringIO
except ImportError:
    from io import StringIO

In [49]:
# Define all the functions

def load_DF(url, skip):
  data = StringIO(requests.get(url).text)
  return pd.read_csv(data, skiprows = skip)

In [50]:
# Load GDP Dataset
gdp_df = load_DF('https://raw.githubusercontent.com/mohannashahrad/Borealis_AI_Plant_Tree_Project/main/Data/GDP_Data_1960_2020.csv', range(0, 3))
gdp_df.head()

                  Country Name Country Code  ...          2020 Unnamed: 65
0                        Aruba          ABW  ...           NaN         NaN
1  Africa Eastern and Southern          AFE  ...  8.984741e+11         NaN
2                  Afghanistan          AFG  ...  1.980707e+10         NaN
3   Africa Western and Central          AFW  ...  7.865850e+11         NaN
4                       Angola          AGO  ...  6.230691e+10         NaN

[5 rows x 66 columns]

In [51]:
# Load Pop Dataset
population_df = load_DF('https://raw.githubusercontent.com/mohannashahrad/Borealis_AI_Plant_Tree_Project/main/Data/Population_Data_1950_2100.csv', -1)
population_df.head()

   LocID     Location  VarID Variant  ...   PopMale  PopFemale  PopTotal  PopDensity
0      4  Afghanistan      2  Medium  ...  4099.243   3652.874  7752.117      11.874
1      4  Afghanistan      2  Medium  ...  4134.756   3705.395  7840.151      12.009
2      4  Afghanistan      2  Medium  ...  4174.450   3761.546  7935.996      12.156
3      4  Afghanistan      2  Medium  ...  4218.336   3821.348  8039.684      12.315
4      4  Afghanistan      2  Medium  ...  4266.484   3884.832  8151.316      12.486

[5 rows x 10 columns]

In [52]:
gdp_df.drop(['Country Code', 'Indicator Name', 'Indicator Code', 'Unnamed: 65'], axis=1, inplace=True)
gdp_df = pd.melt(gdp_df, id_vars='Country Name', var_name='Time', value_name='GDP (USD)')
gdp_df.rename(columns={"Country Name": "Country"}, inplace=True)
gdp_df['Time'] = gdp_df['Time'].astype(int)
gdp_df = gdp_df[gdp_df.Time >= 1990]
gdp_df = gdp_df[gdp_df.Time <= 2020]
display(gdp_df)

                           Country  Time     GDP (USD)
7980                         Aruba  1990  7.648871e+08
7981   Africa Eastern and Southern  1990  2.121032e+11
7982                   Afghanistan  1990           NaN
7983    Africa Western and Central  1990  1.218377e+11
7984                        Angola  1990  1.123628e+10
...                            ...   ...           ...
16221                       Kosovo  2020  7.611402e+09
16222                  Yemen, Rep.  2020           NaN
16223                 South Africa  2020  3.019236e+11
16224                       Zambia  2020  1.932005e+10
16225                     Zimbabwe  2020  1.676851e+10

[8246 rows x 3 columns]

In [53]:
population_df.drop(['LocID', 'VarID', 'Variant', 'MidPeriod', 'PopMale', 'PopFemale'], axis=1, inplace=True)
population_df.rename(columns={"Location": "Country"}, inplace=True)
population_df['Time'] = population_df['Time'].astype(int)
population_df = population_df[population_df.Time >= 1990]
population_df = population_df[population_df.Time <= 2020]
display(population_df)

            Country  Time   PopTotal  PopDensity
40      Afghanistan  1990  12412.311      19.012
41      Afghanistan  1991  13299.016      20.370
42      Afghanistan  1992  14485.543      22.188
43      Afghanistan  1993  15816.601      24.227
44      Afghanistan  1994  17075.728      26.155
...             ...   ...        ...         ...
280847     Zimbabwe  2020  14862.927      38.420
280864     Zimbabwe  2020  14862.927      38.420
280881     Zimbabwe  2020  14862.927      38.420
280898     Zimbabwe  2020  14862.927      38.420
280915     Zimbabwe  2020  14862.927      38.420

[18492 rows x 4 columns]

In [54]:
gdp_index = gdp_df.set_index(['Country', 'Time'])
pop_index = population_df.set_index(['Country', 'Time'])
merged_df = gdp_index.join(pop_index, how='outer')
merged_df.head()

                  GDP (USD)   PopTotal  PopDensity
Country     Time
Afghanistan 1990        NaN  12412.311      19.012
            1991        NaN  13299.016      20.370
            1992        NaN  14485.543      22.188
            1993        NaN  15816.601      24.227
            1994        NaN  17075.728      26.155

In [55]:
merged_df.reset_index(inplace=True)
merged_df.to_csv("pop_gdp.csv")