In [49]:
# Imort all the required libraries
import pandas as pd
import requests
try:
    from StringIO import StringIO
except ImportError:
    from io import StringIO
import numpy as np
from sklearn.linear_model import LinearRegression  
from sklearn.preprocessing import OneHotEncoder  
from sklearn.model_selection import train_test_split
from sklearn import metrics
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.decomposition import PCA
from sklearn.preprocessing import StandardScaler
from sklearn import datasets
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import cross_val_score
from sklearn.datasets import make_blobs
from sklearn.ensemble import RandomForestClassifier
from sklearn.ensemble import ExtraTreesClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestRegressor

In [50]:
# Functions

def load_DF(url):
  data = StringIO(requests.get(url).text)
  return pd.read_csv(data)

In [51]:
# Loading Final DataSet
df = load_DF('https://raw.githubusercontent.com/mohannashahrad/Borealis_AI_Plant_Tree_Project/main/Final_Data/final_data2.csv')
df = df.iloc[: , 3:]
df = df[~df.isin([np.nan, np.inf, -np.inf]).any(1)]
display(df.head())

,Land Area (m2),Agriculture Land (m2),Forest Land (m2),Population,Pop Growth (%),Urban Pop (%),GDP (US$),GDP Growth (%),Forest Rents (% GDP),Coal Rents (% GDP),Oil Rents (% GDP),CO2 Emission (kt),GHG Emision (CO2 eqv),Tree Loss (ha)
2,652860.0,379100.0,12084.4,23680871.0,4.668344,22.353,4.515559e+09,8.832278,0.664331,0.007422,0.026686,1350.0,16780.0,244.336255
3,652860.0,379110.0,12084.4,24726689.0,4.321560,22.500,5.226779e+09,1.414118,0.387787,0.016455,0.025399,1130.0,16520.0,201.444959
4,652860.0,379100.0,12084.4,25654274.0,3.682700,22.703,6.209138e+09,11.229715,0.332205,0.010904,0.025973,1640.0,17400.0,235.956834
5,652860.0,379100.0,12084.4,26433058.0,2.990524,22.907,6.971286e+09,5.357403,0.454077,0.011152,0.022144,1940.0,21040.0,152.084536
6,652860.0,379100.0,12084.4,27100542.0,2.493830,23.113,9.747880e+09,13.826320,0.342749,0.076415,0.014696,2360.0,24880.0,252.841662

In [52]:
x = df.loc[:, df.columns != 'Tree Loss (ha)']
y = df['Tree Loss (ha)']
X_train, X_test, y_train, y_test = train_test_split(x, y, test_size=0.2, random_state=0)

In [65]:
regr = RandomForestRegressor(max_depth=20, random_state=0)
X_train.head()

,Land Area (m2),Agriculture Land (m2),Forest Land (m2),Population,Pop Growth (%),Urban Pop (%),GDP (US$),GDP Growth (%),Forest Rents (% GDP),Coal Rents (% GDP),Oil Rents (% GDP),CO2 Emission (kt),GHG Emision (CO2 eqv)
1372,20720.0,14566.2,6153.800,6266076.0,0.450321,68.036,2.199097e+10,2.235685,0.877346,0.000000,0.000000,6460.0,11940.0
1366,20720.0,14296.2,6423.800,6105810.0,0.433559,62.774,1.701175e+10,1.860579,0.565857,0.000000,0.000000,7630.0,13820.0
3911,306220.0,145290.0,93654.000,38063164.0,-0.000239,60.654,4.985236e+11,1.324891,0.188956,0.544961,0.059181,303350.0,380780.0
3824,452860.0,10300.0,362284.258,6494902.0,2.189415,13.109,4.865893e+09,6.344796,3.498671,0.000000,11.756948,4880.0,15270.0
1750,69490.0,24424.0,28224.000,3756441.0,-0.802164,55.919,1.510744e+10,7.400000,0.132380,0.034267,0.153677,6520.0,14380.0

In [77]:
y_pred = regr.fit(X_train, y_train)

In [82]:
compare_df = pd.DataFrame({'Actual': y_test.to_numpy().flatten(), 'Predicted': regr.predict(X_test).flatten()})
compare_df

            Actual      Predicted
0     16356.445450   23679.592911
1     57883.220930   33929.366471
2       902.670348    3924.130391
3     99820.579630  106369.034670
4     49140.154900   49418.759025
..             ...            ...
569    6660.339483    5006.568960
570    7730.473436    8836.735318
571  253840.008700  231243.554289
572    2238.446401   35247.588247
573     985.379672    1014.732898

[574 rows x 2 columns]

In [84]:
print('Mean Absolute Error:', metrics.mean_absolute_error(compare_df['Actual'], compare_df['Predicted']))  
print('Mean Squared Error:', metrics.mean_squared_error(compare_df['Actual'], compare_df['Predicted']))  
print('Root Mean Squared Error:', np.sqrt(metrics.mean_squared_error(compare_df['Actual'], compare_df['Predicted'])))

Mean Absolute Error: 25633.958738442623
Mean Squared Error: 11325728797.41521
Root Mean Squared Error: 106422.40740283603

In [86]:
print('R2 score:', metrics.r2_score(compare_df['Actual'], compare_df['Predicted']))

R2 score: 0.9295702880042712