In [87]:
# Imort all the required libraries
import pandas as pd
import requests
try:
    from StringIO import StringIO
except ImportError:
    from io import StringIO
import numpy as np
from sklearn.linear_model import LinearRegression  
from sklearn.preprocessing import OneHotEncoder  
from sklearn.model_selection import train_test_split
from sklearn import metrics
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.decomposition import PCA
from sklearn.preprocessing import StandardScaler
from sklearn import datasets
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import cross_val_score
from sklearn.datasets import make_blobs
from sklearn.ensemble import RandomForestClassifier
from sklearn.ensemble import ExtraTreesClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestRegressor

In [110]:
# Functions

def load_DF(url):
  data = StringIO(requests.get(url).text)
  return pd.read_csv(data)

In [112]:
# Loading Final DataSet
df = load_DF('https://raw.githubusercontent.com/mohannashahrad/Borealis_AI_Plant_Tree_Project/main/Final_Data/final_data2.csv')
df = df.iloc[: , 3:]
df = df[~df.isin([np.nan, np.inf, -np.inf]).any(1)]
df_np = StandardScaler().fit_transform(df)
df = pd.DataFrame(data=df_np, columns=df.columns)
display(df.head())

,Land Area (m2),Agriculture Land (m2),Forest Land (m2),Population,Pop Growth (%),Urban Pop (%),GDP (US$),GDP Growth (%),Forest Rents (% GDP),Coal Rents (% GDP),Oil Rents (% GDP),CO2 Emission (kt),GHG Emision (CO2 eqv),Tree Loss (ha)
0,-0.053191,0.151565,-0.280729,-0.121892,2.833507,-1.488437,-0.252053,0.966200,-0.325614,-0.195424,-0.367831,-0.225766,-0.238114,-0.266975
1,-0.053191,0.151580,-0.280729,-0.114761,2.540205,-1.481744,-0.251572,-0.476629,-0.391587,-0.185539,-0.367980,-0.226046,-0.238385,-0.267067
2,-0.053191,0.151565,-0.280729,-0.108437,1.999872,-1.472501,-0.250907,1.432500,-0.404847,-0.191614,-0.367914,-0.225396,-0.237467,-0.266993
3,-0.053191,0.151565,-0.280729,-0.103127,1.414446,-1.463213,-0.250391,0.290338,-0.375773,-0.191342,-0.368358,-0.225013,-0.233669,-0.267173
4,-0.053191,0.151565,-0.280729,-0.098576,0.994354,-1.453834,-0.248513,1.937539,-0.402332,-0.119929,-0.369223,-0.224477,-0.229663,-0.266957

In [113]:
x = df.loc[:, df.columns != 'Tree Loss (ha)']
y = df['Tree Loss (ha)']
X_train, X_test, y_train, y_test = train_test_split(x, y, test_size=0.2, random_state=0)

In [114]:
regr = RandomForestRegressor(max_depth=40, random_state=0)
X_train.head()

,Land Area (m2),Agriculture Land (m2),Forest Land (m2),Population,Pop Growth (%),Urban Pop (%),GDP (US$),GDP Growth (%),Forest Rents (% GDP),Coal Rents (% GDP),Oil Rents (% GDP),CO2 Emission (kt),GHG Emision (CO2 eqv)
880,-0.369838,-0.373305,-0.287626,-0.240628,-0.733999,0.591483,-0.240229,-0.316835,-0.274796,-0.203545,-0.370929,-0.219245,-0.243163
874,-0.369838,-0.373694,-0.287312,-0.241720,-0.748176,0.351907,-0.243598,-0.389793,-0.349106,-0.203545,-0.370929,-0.217752,-0.241202
2144,-0.226827,-0.185084,-0.185865,-0.023831,-1.115072,0.255385,0.082207,-0.493984,-0.439022,0.392771,-0.364058,0.159584,0.141627
2065,-0.153373,-0.379447,0.126549,-0.239067,0.736887,-1.909310,-0.251816,0.482386,0.350561,-0.203545,0.994042,-0.221261,-0.239689
1054,-0.345408,-0.359111,-0.261959,-0.257739,-1.793322,0.039803,-0.244886,0.687622,-0.452519,-0.166049,-0.353088,-0.219169,-0.240617

In [115]:
y_pred = regr.fit(X_train, y_train)

In [116]:
compare_df = pd.DataFrame({'Actual': y_test.to_numpy().flatten(), 'Predicted': regr.predict(X_test).flatten()})
compare_df

       Actual  Predicted
0   -0.232468  -0.217499
1   -0.143533  -0.195430
2   -0.265565  -0.258418
3   -0.053717  -0.044826
4   -0.162257  -0.159407
..        ...        ...
569 -0.253234  -0.255756
570 -0.250942  -0.248451
571  0.276139   0.215279
572 -0.262704  -0.203778
573 -0.265388  -0.265262

[574 rows x 2 columns]

In [117]:
print('Mean Absolute Error:', metrics.mean_absolute_error(compare_df['Actual'], compare_df['Predicted']))  
print('Mean Squared Error:', metrics.mean_squared_error(compare_df['Actual'], compare_df['Predicted']))  
print('Root Mean Squared Error:', np.sqrt(metrics.mean_squared_error(compare_df['Actual'], compare_df['Predicted'])))

Mean Absolute Error: 0.05507294979957346
Mean Squared Error: 0.04895274093263525
Root Mean Squared Error: 0.22125266310857197

In [118]:
print('R2 score:', metrics.r2_score(compare_df['Actual'], compare_df['Predicted']))

R2 score: 0.933630402713638